* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
    background-image: url('Assets/img2.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

header {
    padding: 25px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
}

header .logo {
    color: rgb(250, 246, 246);
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

header .nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

header .nav .nav-items a {
    color: rgb(243, 242, 242);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-left: 30px;
}

header .nav .nav-items a:hover {
    color: #683939;
}

header .nav .nav-items ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

header .nav .nav-items li {
    color: rgb(38, 37, 37);
    font-size: 18px;
    font-weight: bold;
}

.hero {
    display: flex;
    width: 100%;
    padding: 0 200px;
    text-align: left;
    height: calc(100vh - 80px);
    align-items: center;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 36px;
    color: #eeecec;
}

.hero-text p {
    font-size: 18px;
    color:#ea985e;
    margin: 20px 0;
}

.hero img {
    width: 55%;
    max-width: 400px;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(151, 36, 36, 0.1);
    margin-left: auto;
}

.btn-join, .btn-explore {
    display: inline-block;
    background: #4c7aaf;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.btn-explore {
    margin-left: 10px;
}

.btn-join:hover, .btn-explore:hover {
    background-color: #b07171;
    border-bottom: 2px solid rgb(107, 61, 61);
}